header {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: blue;
    color: Yellow;
    padding: 15px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    background-color: red;
    color: white;
    padding: 8px;
    margin-right: 85%;
}

footer > div {
    background-color: blue;
    color: Yellow;
    text-align: center;
    padding: 30px;
}

figcaption {
    color: blue;
    font-size: 20px;
}

body {
    font-family: 'Work sans', sans-serif;
}

p {
    width: 500px;
}