:root {
    font-family: 'Montserrat';
    margin: auto;
}

header, footer {
    background-color: red;
    color: white;
    text-align: center;
    padding: 15px;
    margin: 0px;
    
}

h2, ul{
    text-align: center;
    list-style-type: none;
}


span {
    font-weight:  600;
}

